<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav')  %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id eligendi provident sequi magnam libero, sunt quam quis vel laudantium officiis animi, facilis, facere placeat ex. Itaque corporis assumenda exercitationem culpa.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum tempora repellat nesciunt aperiam sint! Repellat recusandae, iste excepturi illo necessitatibus, doloribus, ducimus ipsam maiores cum et reiciendis itaque voluptatem consequatur?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, vel exercitationem sed, hic accusamus porro nam culpa quibusdam nulla ipsum autem earum sequi perspiciatis fugiat aspernatur dolorum, minima unde facilis.</p>
        
    </div>
    <%- include('./partials/footer') %>
</body>
</html>